<template>
  <div class="d-flex flex-column h-100" id="home">
    <navigation />
    <Baset />
    <foot />
  </div>
</template>

<script>
import Baset from "../components/BaseTheory.vue"

export default {
  name: "docs-view",
  components: {
    Baset
  }
}
</script>

<style>
</style>
