<template>
    <div id="content2">
        <h3>Lorem</h3>
        <img src="../assets/logo.png"/>

	<h5>Lorem ipsum</h5>
	<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin sem at egestas vulputate. Vestibulum fermentum nulla et purus porttitor, ac placerat libero tincidunt. Nullam fringilla at sapien id posuere. Aliquam eu mi vel mauris lobortis sagittis vel quis lacus. Sed sed augue rutrum felis sollicitudin porta. Duis suscipit, nisl ut ultricies sodales, leo massa varius erat, et convallis lacus nisi sed lectus. Quisque a nibh sit amet lacus eleifend sollicitudin. Donec suscipit nisl quis velit euismod, vel vulputate eros dapibus. Phasellus posuere purus malesuada, volutpat tellus et, pretium dui. Mauris tellus metus, dignissim egestas auctor finibus, semper eget urna. Duis porttitor consequat mauris, eget bibendum turpis iaculis quis. Nam ac arcu hendrerit, pharetra lacus at, tempor odio. Aliquam lobortis iaculis lacinia. Vivamus sapien purus, facilisis at dictum pretium, molestie eu turpis. Nunc ut finibus purus.
	</p>
	<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin sem at egestas vulputate. Vestibulum fermentum nulla et purus porttitor, ac placerat libero tincidunt. Nullam fringilla at sapien id posuere. Aliquam eu mi vel mauris lobortis sagittis vel quis lacus. Sed sed augue rutrum felis sollicitudin porta. Duis suscipit, nisl ut ultricies sodales, leo massa varius erat, et convallis lacus nisi sed lectus. Quisque a nibh sit amet lacus eleifend sollicitudin. Donec suscipit nisl quis velit euismod, vel vulputate eros dapibus. Phasellus posuere purus malesuada, volutpat tellus et, pretium dui. Mauris tellus metus, dignissim egestas auctor finibus, semper eget urna. Duis porttitor consequat mauris, eget bibendum turpis iaculis quis. Nam ac arcu hendrerit, pharetra lacus at, tempor odio. Aliquam lobortis iaculis lacinia. Vivamus sapien purus, facilisis at dictum pretium, molestie eu turpis. Nunc ut finibus purus.
	</p>

    </div>
</template>

<script>
export default {
    name: "content2"
}
</script>

<style scoped>

#content2 {
  display: inline-block;
  background-color: lightgray;
  border-radius: 0.2rem;
  width: 50%;
  float: right;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 7rem;
  padding: 1.5rem;
  transition: 0.3s;
}

h3 {
  text-align: left;
}

h5 {
  text-align: left;
  margin: 1rem 0;
}

ul {
  text-align: left;
}

img {
  text-align: center;
  margin: 1rem 0;
}

p {
  text-align: left;
}

</style>
