<template>

<footer class="container-fluid mt-auto py-3">
  <div class="container">
    &copy; Diego Muñoz - Sebastian Vidal
  </div>
</footer>

</template>

<script>
export default{
  name: "footer"
}
</script>

<style>

footer {
  background-color: #232629;
  color: white;
}

</style>
