<template>
    <div class="content notes">
        E - G - B - D
    </div>
</template>

<script>
export default {
    name: "notes"
}
</script>

<style scope>
.notes {
    font-family: "crete round";
    font-weight: bold;
    font-size: 2em;
    color: #83B692;
}
</style>
