<template>
    <div id="sidebar">
        <h5>Topics</h5>
        <ul>
            <router-link to="/docs/" append tag="li" exact>The Basics</router-link>
	    <hr/>
            <router-link to="/docs/lorem" append tag="li" exact>Lorem</router-link>
	    <hr/>
            <router-link to="#" tag="li">Lorem</router-link>
	    <hr/>
            <router-link to="#" tag="li">Lorem</router-link>
	    <hr/>
            <router-link to="#" tag="li">Lorem</router-link>
	    <hr/>
            <router-link to="#" tag="li">Lorem</router-link>
	</ul>
    </div>
</template>

<script>
export default {
    name: "sidebar",
}
</script>

<style scoped>

#sidebar {
  background-color: #232629;
  border-radius: 0.2rem;
  margin-top: 5vh;
  top: 5vh;
  margin-left: 7rem;
  width: 23%;
  padding: 1rem 1.5rem;
  float: left;
  position: sticky;
  user-select: none;
}

h5 {
  color: white;
  text-align: start;
  margin-bottom: 1rem;
}

hr {
  height: 2px;
  color: white;
  opacity: 100;
  margin: 5px;
}

ul {
  list-style: none;
  padding: 0 2rem;
}

ul li {
  color: white;
  text-align: left;
  padding-left: 1rem;
  transition: 0.2s;
  cursor: pointer;
  margin: 0.1rem 0;
  border-radius: 10px;
}

ul li:not(.router-link-active):hover {
  background-color: #F8F9FA;
  color: #232629;
  opacity: 0.8;
}

ul li.router-link-active {
  background-color: #F8F9FA;
  color: #232629;
}

</style>
