<template>
    <div class="timer">
        10:40
    </div>
</template>

<script>
export default {
    name: "timer"
}
</script>

<style scope>
.timer {
    font-family: "expletur sans";
    font-weight: bold;
    font-size: 3em;
    color: #C7B18D;
}
</style>

