<template>
    <div id="upbutton">
	<i class="bi bi-arrow-up-short" @click="up()"></i>
    </div>
</template>

<script>
export default {
    name: "upbutton",
    methods: {
      up() {
	 window.scrollTo(0,0);
      }
    }
}
</script>

<style scoped>
i {
  width: 3rem;
  height: 3rem;
  background-color: rgba(200,200,200,0.9);
  display: block;
  position: fixed;
  top: 90vh;
  left: 85vw;
  font-size: 2rem;
  color: #232629;
  border: 2px solid #232629;
  border-radius: 10%;
  cursor: pointer;
}
</style>
